<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/dateformat.js" defer ></script>
  <script src="/js/calculaIdade.js" defer ></script>
  <script src="/js/buscarCep.js" defer></script>
  <script src="/js/validacaoCep.js"></script>
  <title>Cadastro de Alunos - Casa da Música</title>
  <link rel="stylesheet" href="./styles/style__.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <!-- Incluir VLibras automaticamente -->
  <%- vlibras %>

  <h1>Cadastro de Alunos</h1>
  <form action="/alunos/inserir" method="POST">
    <a href="/menuCadastro" class="btn btn-secondary mb-3">Voltar</a>
  <div class="form-group">
    <input type="text" name="nome" placeholder="Nome Completo" required>
    <input type="text" name="cpf_cnpj"  placeholder="CPF" maxlength="11">
  </div>
  <div class="form-group">
    <input type="text" name="telefone" placeholder="Telefone">
    <input type="email" id="email" name="email" placeholder="Email">
  </div>
  <div class="">
    <label for="data_nasc">Data de Nascimento : </label>
    <input type="date" id="data_nasc" name="data_nasc" required>
    <label for="idade">Idade : </label>
    <input type="number" id="idade" name="idade" length="2" size="2" readonly size="2">
    <div class=""><br></div>
  </div>
  <div class="form-group" style="width: 150px;">
    <select name="sexo" id="sexo" required>
      <option value="">Sexo</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>

    <input type="Text" name="genero" id="genero" placeholder="Gênero">
  
    <select name="cor" id="cor" required>
      <option value="">Cor</option>
      <option value="Branco">Branco </option>
      <option value="Preto">Preto </option>
      <option value="Pardo">Pardo </option>
      <option value="Amarelo">Amarelo </option>
      <option value="Indigena">Indígena </option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" name="nome_resp" placeholder="Nome do Responsável">
    <input type="text" name="cpf_cnpj_resp" placeholder="CPF do Responsável">
  </div>
  <div class="form-group">
      <input type="text" name="cep" placeholder="CEP" class="form-control" size="9" onblur="buscarCep()">

      <input type="text"  name="endereco" placeholder="Endereço" class="form-control">
  </div>
  <div class="form-group">
      <input type="text"  name="numero" placeholder="Número" class="form-control">
      <input type="text"  name="bairro" placeholder="Bairro" class="form-control">
      <input type="text"  name="cidade" placeholder="Cidade" class="form-control">
      <input type="text"  name="estado" placeholder="Estado" class="form-control" size="2">
  </div>
  <div class="form-group">
      <input type="text"  name="complemento" placeholder="Complemento">
  </div>
  <div class="form-group">
      <textarea name="obs" placeholder="Observação" rows="4"></textarea>
  </div>

  <button type="submit" id="submit-btn"><i class="fas fa-plus"></i> Cadastrar Aluno</button>
  </form>

   <!-- Tabela de Alunos -->
  <div class="table-container">
    <h1>Lista de Alunos</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% alunos.forEach((aluno) => { %>

        <tr>
          <td><%= aluno.idaluno %></td>
          <td><%= aluno.nome %></td>
          <td><%= aluno.telefone %></td>
          <td><%= aluno.email %></td>       
          <td>

          <!-- Botão de Editar -->
          <button class="button-update" onclick="openEditModal(<%= aluno.idaluno %>, '<%= aluno.nome %>', '<%= aluno.cpf_cnpj %>', '<%= aluno.telefone %>', '<%= aluno.email %>','<%= aluno.data_nasc %>','<%= aluno.idade %>', '<%= aluno.sexo %>', '<%= aluno.genero %>', '<%= aluno.cor %>', '<%= aluno.cpf_cnpj_resp %>','<%= aluno.nome_resp %>', '<%= aluno.cep %>', '<%= aluno.endereco %>', '<%= aluno.numero %>', '<%= aluno.bairro %>', '<%= aluno.cidade %>', '<%= aluno.estado %>','<%= aluno.complemento %>','<%= aluno.obs %>')"><i class="fas fa-edit"></i> Atualizar</button>
      
          <!-- Botão de Excluir -->
          <button class="button-delete" onclick="openDeleteModal(<%= aluno.idaluno %>)"><i class="fas fa-trash"></i> Excluir</button>
         
          </td>
        </tr>  
       <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Modal de Edição -->
  <div class="modal" id="editModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Aluno</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form id="editForm" action="/alunos/atualizar/<%= alunos.idaluno %>" method="POST">
          <div class="modal-body">
            <input type="hidden" id="edit-id" name="idaluno">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" id="edit-nome" name="nome" class="form-control" required>
            </div>
            <div class="form-group">
              <label>CPF/CNPJ</label>
              <input type="text" id="edit-cpf_cnpj" name="cpf_cnpj" class="form-control" required>
            </div>
            <div class="form-group">
             <label>Telefone</label>
             <input type="text" id="edit-telefone" name="telefone" class="form-control">
            </div>
            <div class="form-group">
             <label>Email</label>
             <input type="email" id="edit-email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <label>Nascimento</label>
              <input type="date" id="edit-data_nasc" name="data_nasc" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Idade</label>
              <input type="number" id="edit-idade" name="idade" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Sexo</label>
              <input type="text" id="edit-sexo" name="sexo" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Gênero</label>
              <input type="text" id="edit-genero" name="genero" class="form-control">
            </div>
            <div class="form-group">
              <label>Cor</label>
              <input type="text" id="edit-cor" name="cor" class="form-control" required>
            </div>
            <div class="form-group">
              <label>CPF Responsável</label>
              <input type="text" id="edit-cpf_cnpj_resp" name="cpf_cnpj_resp" class="form-control">
            </div>
            <div class="form-group">
              <label>Nome Responsável</label>
              <input type="text" id="edit-nome_resp" name="nome_resp" class="form-control">
            </div>
            <div class="form-group">
             <label>CEP</label>
             <input type="text" id="edit-cep" name="cep" class="form-control" required>
            </div>
            <div class="form-group">
             <label>Endereço</label>
             <input type="text" id="edit-endereco" name="endereco" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Número</label>
              <input type="text" id="edit-numero" name="numero" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Bairro</label>
              <input type="text" id="edit-bairro" name="bairro" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Cidade</label>
              <input type="text" id="edit-cidade" name="cidade" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Estado</label>
              <input type="text" id="edit-estado" name="estado" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Complemento</label>
              <input type="text" id="edit-complemento" name="complemento" class="form-control">
            </div>
            <div class="form-group">
              <label>Observação</label>
              <input type="text" id="edit-obs" name="obs" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"><i class="bi bi-save2"></i> Salvar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-door-closed"></i> Fechar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmação de Exclusão -->
  <div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="modalExcluirLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir esta aluno(a)?
            </div>
            <div class="modal-footer">
              <form id="formExcluir" action="/alunos/excluir/<%= alunos.idaluno %>" method="POST">
                <input type="hidden" name="idaluno" id="idalunoExcluir">
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/alunos';">Cancelar</button>
              </form>

            </div>
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>

    // Função para abrir o modal de edição com os dados do aluno
    function openEditModal(idaluno, nome, cpf_cnpj, telefone, email, data_nasc, idade, sexo, genero, cor, cpf_cnpj_resp, nome_resp, cep, endereco, numero, bairro, cidade, estado, complemento, obs) {

      const dataFormatada = dateFormat(new Date(data_nasc), 'yyyy-mm-dd');

      $('#edit-id').val(idaluno);
      $('#edit-nome').val(nome);
      $('#edit-cpf_cnpj').val(cpf_cnpj);
      $('#edit-telefone').val(telefone);
      $('#edit-email').val(email);
      $('#edit-data_nasc').val(dataFormatada);
      $('#edit-idade').val(idade);
      $('#edit-sexo').val(sexo);
      $('#edit-genero').val(genero);
      $('#edit-cor').val(cor);
      $('#edit-cpf_cnpj_resp').val(cpf_cnpj_resp);
      $('#edit-nome_resp').val(nome_resp);
      $('#edit-cep').val(cep);
      $('#edit-endereco').val(endereco);
      $('#edit-numero').val(numero);
      $('#edit-bairro').val(bairro);
      $('#edit-cidade').val(cidade);
      $('#edit-estado').val(estado);
      $('#edit-complemento').val(complemento);
      $('#edit-obs').val(obs);

      $('#editForm').attr('action', '/alunos/atualizar/' + idaluno);
      $('#editModal').modal('show');
    }


    // Função para abrir o modal de exclusão
    function openDeleteModal(idaluno) {
      $('#formExcluir').attr('action', '/alunos/excluir/' + idaluno);
      $('#modalExcluir').modal('show');
    } 

  </script>
</body>
</html>

