<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="./js/dateformat.js" defer ></script>
  <title>Cadastro de Notas - Casa da Música</title>
  <link rel="stylesheet" href="./styles/style__.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

  <h1>Cadastro de Notas</h1>
    <form action="/notas" method="POST">
      <a href="/menu" class="btn btn-secondary mb-3">Voltar</a>
      
      <div class="input-container">

        <label for="idAluno">Código Aluno:</label>
        <input type="text" name="aluno_id" id="aluno" class="small-input" maxlength="3" required onblur="validateInput('aluno')" />
        <span id="aluno-msg"></span>

      </div>
      <div class="input-container">
        <label for="idProfessor">Código Professor:</label>        
        <input type="text" name="professor_id" id="professor" class="small-input" maxlength="3" required onblur="validateInput('professor')" />
        <span id="professor-msg"></span>
      </div>
      <div class="input-container">
        <div class="input-row">
          <label for="idDisciplina">Código Disciplina:</label>        
          <input type="text" name="disciplina_id" id="disciplina" required class="small-input" maxlength="3" required onblur="validateInput('disciplina')" />
          <span id="disciplina-msg"></span>
        </div>
      </div>  
      <div class="input-row">
        <input type="date" name="data_nota" id="data_nota" class="input-date" required/>
        <select name="mes_nota" id="mes_nota" placeholder="Mês nota" class="input-text" maxlength="10" required>
          <option value="">Mês nota</option>
          <option value="Janeiro">Janeiro</option>
          <option value="Fevereiro">Fevereiro</option>
          <option value="Março">Março</option>
          <option value="Abril">Abril</option>
          <option value="Maio">Maio</option>
          <option value="Junho">Junho</option>
          <option value="Julho">Julho</option>
          <option value="Agosto">Agosto</option>
          <option value="Setembro">Setembro</option>
          <option value="Outubro">Outubro</option>
          <option value="Novembro">Novembro</option>
          <option value="Dezembro">Dezembro</option>
        </select>
        <input type="text" name="ano_nota"  placeholder="Ano" required class="input-number-small" maxlength="4" oninput="this.value = this.value.slice(0, 4)" />
  
        <input type="number" class="input-number-decimal" name="nota" min="0" max="10" step=".01" placeholder="Nota">
      </div>

      <div class="form-group">
         <textarea name="obs" placeholder="Observação" rows="4"></textarea>
      </div>

      <button type="submit" id="submit-btn"><i class="fas fa-plus"></i> Cadastrar Nota</button>
    </form> 

    <!-- Tabela de notas -->
    <div class="table-container">
      <h1>Lista de Notas</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>(Id)</th>
            <th>(Id)Alunos</th>
            <th>(Id)Professores</th>
            <th>(Id)Disciplinas</th>
            <th>Data nota</th>
            <th>Notas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% notas.forEach((nota) => { %>
  
          <tr>
            <td><%= nota.idnota %></td>
            <td><%= nota.aluno_nome %></td>
            <td><%= nota.professor_nome %></td>
            <td><%= nota.disciplina_nome %></td>
            <td><%= nota.data_nota_formatada %></td>
            <td><%= nota.nota %></td>            
            <td>
            <div class="action-buttons">

                <!-- Botão de Editar -->
              <button class="button-update" onclick="openEditModal(<%= nota.idnota %>, '<%= nota.mes_nota %>','<%= nota.ano_nota %>','<%= nota.data_nota %>','<%= nota.nota %>','<%= nota.obs %>')"><i class="fas fa-edit"></i> Atualizar</button>

                <!-- Botão de Excluir -->
              <button class="button-delete" onclick="openDeleteModal(<%= nota.idnota %>)"><i class="fas fa-trash"></i> Excluir</button>
            </div>
  
            </td>
          </tr>  
         <% }); %>
        </tbody>
      </table>
  </div>
  
  <!-- Modal de Edição -->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Notas</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form id="editForm" action="/notas/<%= notas.idnota %>?_method=PUT" method="POST">
          <div class="modal-body">
            <input type="hidden" id="edit-idnota" name="idnota">

            <div class="form-group">
              <label>Mês Nota</label>
              <select name="mes_nota" id="edit-mes_nota" required style="flex: 0.2; margin-left: 10px;">
                <option value="">Mês Nota</option>
                <option value="Janeiro">Janeiro</option>
                <option value="Fevereiro">Fevereiro</option>
                <option value="Março">Março</option>
                <option value="Abril">Abril</option>
                <option value="Maio">Maio</option>
                <option value="Junho">Junho</option>
                <option value="Julho">Julho</option>
                <option value="Agosto">Agosto</option>
                <option value="Setembro">Setembro</option>
                <option value="Outubro">Outubro</option>
                <option value="Novembro">Novembro</option>
                <option value="Dezembro">Dezembro</option>
              </select>

            </div>
            <div class="form-group">
              <label>Ano Nota</label>
              <input type="number" id="edit-ano_nota" name="ano_nota" class="form-control" required>
            </div>

            <div class="form-group">
              <label>Data Nota</label>
            <input type="date" id="edit-data_nota" name="data_nota" class="form-control" required/>
            </div>
            
            <div class="form-group">
              <label>Nota</label>
              <input type="number" id="edit-nota" name="nota" min="0" max="10" step=".01" class="form-control">
            </div>
            <div class="form-group">
              <label>Observação</label>
              <input type="text" id="edit-obs" name="obs" class="form-control">
            </div>>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi bi-door-closed"></i> Fechar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="modalExcluirLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Deseja realmente excluir esta nota?
          </div>
          <div class="modal-footer">
              <form id="formExcluir" action="/notas/<%= notas.idnota %>?_method=DELETE" method="POST">
                  <input type="hidden" name="idnota" id="idnotaExcluir">
                  <button type="submit" class="btn btn-danger">Confirmar</button>
                  <button type="button" class="btn btn-secondary" onclick="window.location.href='/notas';">Cancelar</button>
              </form>

            </div>
      </div>
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/validation.js"></script>
  
  <script>

    // Função para abrir o modal de edição com os dados da nota
    function openEditModal(idnota, mes_nota, ano_nota, data_nota, nota, obs) {

      const dataFormatada = dateFormat(new Date(data_nota), 'yyyy-mm-dd');

      $('#edit-idnota').val(idnota);

      $('#edit-mes_nota').val(mes_nota);
      $('#edit-ano_nota').val(ano_nota);

      $('#edit-data_nota').val(dataFormatada);
      $('#edit-nota').val(nota);
      $('#edit-obs').val(obs);

     $('#editForm').attr('action', '/notas/' + idnota + '?_method=PUT');
     $('#editModal').modal('show');

    }

     // Função para abrir o modal de exclusão
     function openDeleteModal(idnota) {
      $('#formExcluir').attr('action', '/notas/' + idnota + '?_method=DELETE');
      $('#modalExcluir').modal('show');
    }

  </script>

</body>
</html>

